<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Doctor</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Hospital Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/appo1">Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="doc">Doctor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nur">Nurse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dep">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gs">General Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pat">Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ha">Hospital Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="med">Medical Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resm">Resource Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="emp">Employee</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Insert Doctor</h2>
        <form action="/doc" method="post">
            <input type="hidden" name="action" value="insert">
            <div class="form-group">
                <label for="employee_id">Employee ID:</label>
                <input type="number" id="employee_id" name="employee_id" required>
            </div>
            <div class="form-group">
                <label for="specialization">Specialization:</label>
                <input type="text" id="specialization" name="specialization" required>
            </div>
            <input type="submit" value="Insert Doctor">
        </form>
    </div>
</body>
</html>
