<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Medical Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Hospital Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/appo1">Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="doc">Doctor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nur">Nurse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dep">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gs">General Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pat">Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ha">Hospital Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="med">Medical Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resm">Resource Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="emp">Employee</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center mt-5">List of Medical Records</h1>
        <!-- Flash message section -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success mt-3" role="alert">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">RecordID</th>
                    <th scope="col">PatientID</th>
                    <th scope="col">DoctorID</th>
                    <th scope="col">VisitDate</th>
                    <th scope="col">Diagnosis</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for record in medical_records %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ record.RecordID }}</td>
                    <td id="patient_id_{{ record.RecordID }}">{{ record.PatientID }}</td>
                    <td id="doctor_id_{{ record.RecordID }}">{{ record.DoctorID }}</td>
                    <td id="visitdate_{{ record.RecordID }}">{{ record.VisitDate }}</td>
                    <td id="details_{{ record.RecordID }}">{{ record.Diagnosis }}</td>
                    <td>
                        <form id="form_{{ record.RecordID }}" action="/med" method="POST" class="d-inline">
                            <input type="hidden" name="action" value="update">
                            <input type="hidden" name="record_id" value="{{ record.RecordID }}">
                            <input type="hidden" name="patient_id" id="patient_id_input_{{ record.RecordID }}" value="{{ record.PatientID }}">
                            <input type="hidden" name="doctor_id" id="doctor_id_input_{{ record.RecordID }}" value="{{ record.DoctorID }}">
                            <input type="hidden" name="visitdate" id="visitdate_input_{{ record.RecordID }}" value="{{ record.VisitDate }}">
                            <input type="hidden" name="details" id="details_input_{{ record.RecordID }}" value="{{ record.Details }}">
                            <button type="button" id="updateButton_{{ record.RecordID }}" class="btn btn-primary" onclick="toggleEdit({{ record.RecordID }})">Update</button>
                            <button type="submit" class="btn btn-danger d-none">Submit</button>
                            <button type="submit" id="deleteButton_{{ record.RecordID }}" class="btn btn-danger" onclick="submitForm({{ record.RecordID }})" value="delete">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Back button -->
        <button type="button" class="btn btn-primary" onclick="goBack()">Back</button>
        <form action="/med" method="post">
            <!-- Hidden input field for action -->
            <input type="hidden" name="action" value="insertrecord">
            <!-- Button styled as a link -->
            <button type="submit" class="btn btn-success">Insert Record</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js') }}"></script>

<script>

        function toggleEdit(recordId)
        {
            var patientIdCell = document.getElementById('patient_id_' + recordId);
            var doctorIdCell = document.getElementById('doctor_id_' + recordId);
            var visitdateCell = document.getElementById('visitdate_' + recordId);
            var detailsCell = document.getElementById('details_' + recordId);
            var existingInputPatientId = patientIdCell.querySelector('input[type="text"]');
            var existingInputDoctorId = doctorIdCell.querySelector('input[type="text"]');
            var existingInputVisitDate = visitdateCell.querySelector('input[type="text"]');
            var existingInputDetails = detailsCell.querySelector('input[type="text"]');
            var editButton = patientIdCell.parentNode.querySelector('#updateButton_' + recordId);
            if (existingInputPatientId) 
            {
                // Switch back to non-edit mode
                var originalPatientIdValue =  existingInputPatientId.getAttribute('data-original-value'); // Get the original value
                var originalDoctorIdValue = existingInputDoctorId.getAttribute('data-original-value'); // Get the original value
                var originalVisitDetailsValue = existingInputVisitDate.getAttribute('data-original-value'); // Get the original value
                var originalDetailsValue = existingInputDetails.getAttribute('data-original-value'); // Get the original value
               
                patientIdCell.innerHTML = originalPatientIdValue;
                doctorIdCell.innerHTML = originalDoctorIdValue;
                visitdateCell.innerHTML= originalVisitDetailsValue;
                detailsCell.innerHTML = originalDetailsValue;
                editButton.innerHTML = 'Update';
                // Update the hidden input field values
                document.getElementById('patient_id_input_' + recordId).value = originalPatientIdValue;
                document.getElementById('doctor_id_input_' + recordId).value = originalDoctorIdValue;
                document.getElementById('visitdetails_input_' + recordId).value = originalVisitDetailsValue;
                document.getElementById('details_input_' + recordId).value = originalDetailsValue;
                // Remove the submit button
                removeSubmitButton(recordId);
            } 
            else 
            {
                // Switch to edit mode
                editButton.innerHTML = 'Cancel';
                var originalPatientIdValue = patientIdCell.textContent.trim(); // Trim whitespace and newline characters
                var originalDoctorIdValue =  doctorIdCell.textContent.trim();
                var originalVisitDetailsValue =  visitdateCell.textContent.trim();  // Trim whitespace and newline characters
                var originalDetailsValue =  detailsCell.textContent.trim(); // Trim whitespace and newline characters
                
                patientIdCell.innerHTML = '<input type="text" name="patient_id" value="' + originalPatientIdValue + '" data-original-value="' + originalPatientIdValue + '">';
                doctorIdCell.innerHTML = '<input type="text" name="doctor_id" value="' + originalDoctorIdValue + '" data-original-value="' + originalDoctorIdValue + '">';
                visitdateCell.innerHTML = '<input type="text" name="visitdetails" value="' + originalVisitDetailsValue + '" data-original-value="' + originalVisitDetailsValue + '">';
                detailsCell.innerHTML = '<input type="text" name="details" value="' + originalDetailsValue + '" data-original-value="' + originalDetailsValue + '">';
                // Add submit button
                addSubmitButton(recordId);
            }
        }

        function addSubmitButton(recordId) 
        {
            var cell = document.getElementById('details_' + recordId);
            var submitButton = document.createElement("button");
            submitButton.innerHTML = "Submit";
            submitButton.classList.add("btn", "btn-success");
            submitButton.setAttribute("onclick", "submitEdit(" + recordId + ")");
            cell.appendChild(submitButton);
        }

        function removeSubmitButton(recordId) 
        {
            var cell = document.getElementById('patient_id_' + recordId);
            var submitButton = cell.querySelector("button");
            if (submitButton) 
            {
                submitButton.remove();
            }
        }

        function submitEdit(recordId) 
        {
            var patientIdCell = document.getElementById('patient_id_' + recordId);
            var doctorIdCell = document.getElementById('doctor_id_' + recordId);
            var visitdateCell = document.getElementById('visitdate_' + recordId);
            var detailsCell = document.getElementById('details_' + recordId);
            var newPatientIdValue = patientIdCell.querySelector('input[type="text"]').value.trim();
            var newDoctorIdValue = doctorIdCell.querySelector('input[type="text"]').value.trim();
            var newVisitDetailsValue = visitdateCell.querySelector('input[type="text"]').value.trim();
            var newDetailsValue = detailsCell.querySelector('input[type="text"]').value.trim();
            console.log(newVisitDetailsValue)
            // Update the hidden input field values
            document.getElementById('patient_id_input_' + recordId).value = newPatientIdValue;
            document.getElementById('doctor_id_input_' + recordId).value = newDoctorIdValue;
            document.getElementById('visitdate_input_' + recordId).value = newVisitDetailsValue;
            document.getElementById('details_input_' + recordId).value = newDetailsValue;
            // Submit the form
            document.getElementById('form_' + recordId).submit();
            // Switch back to non-edit mode
            toggleEdit(recordId);
        }

        function submitForm(recordId) 
        {
            console.log("Deleting medical record with ID:", recordId);
            event.preventDefault(); // Prevent the default form submission behavior
            var form = document.getElementById('form_' + recordId);
            var actionInput = form.querySelector('input[name="action"]');
            actionInput.value = 'delete'; // Change the action to 'delete'
            form.submit(); // Submit the form
        }
        
        function goBack() 
        {
            window.history.back();
        }
        function hideSuccessMessage() 
        {
            var successMessage = document.querySelector('.alert-success');
            if (successMessage) 
            {
                setTimeout(function() 
                {
                    successMessage.style.display = 'none';
                }, 3000); // Adjust the delay (in milliseconds) as needed
            }
        }

        // Call the hideSuccessMessage function when the page loads
        window.onload = function() 
        {
            hideSuccessMessage();
        };

    </script>
    
</body>
</html>
